* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-color: #B07CF7;
    width: 100%;
    max-width: 1500px;
    height: 865px;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
}

h1 {
    color: white;
    font-size: 80px;
}

.text {
    margin-top: 20px;
    color: white;
    display: inline-block;
    width: 570px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slider {
    height: auto;
    min-height: 390px;
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.item-1, .item-2, .item-3 {
    border-radius: 4px;
    width: 370px;
    height: 310px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    transition: all .25s;
}

.item-1:hover {
    height: 340px;
}

.item-2:hover {
    height: 340px;
}

.item-3:hover {
    height: 340px;
}

.item-1 {
    background-image: url("/images/img-1.png");
    background-repeat: no-repeat;
}

.item-2 {
    background-image: url("/images/test-img-2.png");
    background-repeat: no-repeat;
}

img {
    width: 370px;
    height: 310px;
    border-radius: 4px;
}

.item-3 {
    background-image: url("/images/img-3.png");
    background-repeat: no-repeat;
}

.day {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 10px;
    position: relative;
    left: 30px;
    top: 30px;
    opacity: 0.5;
}

.day-bag {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 10px;
    position: relative;
    left: 30px;
    top: -286px;
    opacity: 0.5;
}

.namber {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.name-produkt {
    text-align: left;
    color: white;
    position: relative;
    font-size: 22px;
    top: 160px;
    text-shadow: 1px 1px 2px black;
}

.bager {
    text-align: left;
    color: white;
    position: relative;
    font-size: 22px;
    bottom: 155px;
    text-shadow: 1px 1px 2px black;
}

.mini-text {
    display: block;
    position: relative;
    font-size: 15px;
    top: 10px;
}

.button {
    color: white;
    padding: 15px 20px;
    background-color: red;
    width: 200px;
    height: 55px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    transition: all .25s;
}

.button:hover {
    color: red;
    background-color: white;
}



/* HEADER NEW PROJECT */
header {
    background-image: url('/images/Font.png');
    width: 100%;
    max-width: 1500px;
    height: 865px;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
    position: relative;
    
}

.logo-site {
    cursor: pointer;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    display: block;
    position: absolute;
    top: 30px;
    left: 90px;
}

li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    border-top: 1px solid transparent;
    font-family: 'Raleway', sans-serif;
}

li:hover {
    border-top: 1px solid red;
}

ul {
    position: absolute;
    top: 55px;
    right: 90px;
}

.info-site {
    width: 375px;
    height: 172px;
    text-align: left;
    position: absolute;
    left: 100px;
    top: 350px;
}

h2 {
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}

.info-site p {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

.button1 {
    border: none;
    width: 200px;
    height: 55px;
    background-color: #FF6033;
    font-size: 20px;
    color: white;
    text-align: center;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    left: 100px;
    top: 510px;
    cursor: pointer;
}

.maus {
    width: 20px;
    height: 30px;
    margin: 330px auto 0;
}



.center-menu {
    background-color: #F9F8FB;
    width: 100%;
    max-width: 1500px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
    transition: all 1s;
    color: #00C4C4;
}

.center-menu:hover {
    background-color: #00b5b5c4;
    color: white;
}


.center-menu img {
    width: 566px;
    height: 566px;
}

.text-tarel {
    width: 500px;
    height: 328px;
    /* color: #00C4C4; */
    text-align: left;
}

.about {
    font-size: 90px;
    font-family: 'Raleway', sans-serif;
}

.info {
    margin-bottom: 10px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}


/* FOOTER BLOK */

footer {
    background-image: url('/images/fon_footer.png');
    width: 100%;
    max-width: 1500px;
    height: 865px;  
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
    position: relative;
}

.footer_name {
    font-size: 90px;
    font-family: 'Raleway', sans-serif;
}

.footer_content {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    margin: 30px auto;
    width: 400px;
}

.center_bloc {
    display: flex;
    justify-content: space-around;
}

.center_bloc--form,
.center_bloc--addres {
    width: 500px;
}

form input {
    width: 40%;
    height: 50px;
    font-size: 20px;
    border: 1px solid transparent;
    background-color: transparent;
    color: white;
    padding-left: 20px;
    margin-bottom: 20px;
    transition: width 0.4s ease-in-out;
    display: block;
}
  
input:focus {
    width: 100%;
    background-color: #00C4C4;
  }

textarea {
    width: 40%;
    height: 50px;
    font-size: 20px;
    border: 1px solid transparent;
    background-color: transparent;
    color: white;
    padding-left: 20px;
    transition: width 0.4s ease-in-out;
    display: block;
}

textarea:focus {
    width: 100%;
    max-width: 100%;
    min-height: 233px;
    background-color: #00C4C4;
  }

.submit {
    padding: 10px;
    background-color: rgb(114, 110, 110);
    color: white;
    margin-left: 0px;
    margin-top: 5px;
}

.center_bloc--addres {
    display: inline;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.center_bloc--addres p {
    margin-bottom: 15px;
    font-size: 20px;
}

.center_bloc--addres a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}




/* BLOC SERVICE--------- */


.service {
    background-color: #70BFFF;
    width: 100%;
    max-width: 1500px;
    height: 790px;  
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.right_bloc_tomato {
    height: 100%;
    align-items: center;
}

.right_bloc_tomato h2 {
    color: white;
    font-size: 90px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 325px;
    right: 12%;;
}

.tomato {
    width: 462px;
    height: 527px;
}

.left_bloc_tomato {
    position: relative;
    top: 65px; 
}

.mini_blok {
    display: flex;
    width: 400px;
    height: 100px;
    background-color: whitesmoke;
    margin-top: 20px;
    cursor: pointer;
}

.mini_text {
    display: block;
    width: 300px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
    font-weight: 600;
}
.mini_img {
    width: 100px;
    height: 100px;
    border-left: 1px solid black;
}

.mini_img img {
    margin-top: 30px;
    width: 47px;
    height: 43px;
}